.call_to_action_game
  background-position: center center
  background-repeat: no-repeat
  background-size: cover
  text-align: center

.dark_jumbotron
  border-radius: 0
  color: $white-color
  background-color: rgba(52, 58, 64, 0.95)

.game_item_image
  background-color: $dark-color
  max-height: 300px

.game_item_price
  font-size: 30px
