.navbar_dark
  background-color: $dark-color

.navbar_link_white
  color: $white-color

  &:hover,
  &:visited
    color: $white-color

.navbar_basket > i
  margin-right: 15px

.navbar_toggler_light
  border-color: $white-color
  color: $white-color
  padding-left: 40px

  &:before
    content: "Menu"

.container_min_width
  @media screen and (max-width: 572px)
    min-width: 150px
