.checkout
  padding-top: 20px
  padding-bottom: 20px

.checkout_title
  margin-bottom: 20px

.checkout_item_image
  float: left
  max-width: 100px
  margin-right: 20px

.checkout_item_remove_button_text
  margin-left: 10px

.checkout_total_price
  text-align: right
  font-size: 40px
