.game_detail
  padding-top: 20px
  padding-bottom: 20px

.game_detail_cover
  width: 100%

.game_detail_description
  margin-top: 15px
  line-height: 25px

.game_detail_price
  font-size: 40px

.game_detail_add_icon
  margin-right: 10px
